body {
    padding: 0;
    margin: 0;
    background: #f2r6e9;
}

/* Nav Bar */
.navbar {
    background: #6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Container Image */
.header {
    background-image: url('images/bt-bg-main.png');
    background-size: cover;
    background-position: center;
}